# set this to the directory in which you want to install docs, includes, and
# stripped .o library files into for all swatDB lab assignments
# (just need to do this once per semester)
# test locations


#  Location of SwatDB header files not distributed with lab assignment
#  and of swatdb library 
#  * homework Makefiles use this in their -L path to link in libswatdb
#  * homework Makefiles use this in their -I path to access .h files
#export SWATDBDIR = /home/newhall/public/cs44/swatdb/
SWATDBDIR = /home/newhall/public/cs44/testswatdb/



